<!-- vista proyectos software  -->
<%= render :partial => "layouts/subheader" %>
<!-- Section -->
<section>
  <div id="service">
    <div id="img_all">
      <%= (image_tag "desk.jpg") %>
      <div id="title_txt"><%= @desarrolloSoftware %></div>
    </div>
    <div id="content">
      <div id="inner">
          <!--table>
          </table-->
        <div  id="left" >
          <h1 class="titulo"><%= @tituloClientes %></h1>
           <!--  inicio listado de proyectos - -  - - - - -  -  - -->
          <% @project.each do |project| %>
          <% if project.tipo == "2" %>
            <div class="projectSoftware">
               <h5><%= project.title %></h5>
                <h6><%= project.text %></h6>
                <%= image_tag project.imagen.url %>
              </div><!-- fin  sect -->
              <% end %>
           <% end %>
           <!--  fin listado de proyectos - - - -   - - - - -  - -->
        </div><!-- fin  leftPost -->
          <div id="right">
            <h1><%= @tituloContenido %></h1>
            <p><%=  @contenidopreferido1%></p>
            <br>
            <p><%=  @contenidopreferido2%></p>
            <br>
            <div class="sect">
              <h3><%= @tituloSoftware %></h3>
              <p><%= @contenidoSoftware %></p>
            </div>
            <div class="sect">
              <h3><%= @tituloAgilidad %></h3>
              <p><%= @contenidoAgilidad %></p>
            </div>
            <div class="sect">
              <h3><%= @tituloCloud %></h3>
              <p><%= @contenidoCloud %></p>
            </div>
            <div class="sect">
              <h3><%= @tituloExperiencia %></h3>
              <p><%= @contenidoExperiencia %></p>
              </td>
            </div>
          </div><!-- fin  rightPost -->
    </div><!-- fin  inner -->
  </div><!-- fin  content -->
  </div>
</section>
<%= render :partial => "layouts/subfooter" %>
